* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

html {
  overflow-x: hidden;
  width: 100%;
}

body {
  width: 100%;
  font-family: $default-font;
  font-weight: 400;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  -webkit-font-smoothing: antialised;
  background-color: #111;
  line-height: 1.4;
  color: #fff;
}

h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
  color: #fff;
  font-weight: 400;
}
h1 {
  font-size: 120px;
  font-family: $segoe-script;
  line-height: 1;
  @media only screen and (max-width: 991px) {
    font-size: 16vw;
  }
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  outline: 0 !important;
  font-family: $default-font;
  text-decoration: underline;
  outline: none;
  color: blue;
  font-weight: 400;
  transition: all .3s ease;
  &:hover {
    text-decoration: none;
  }
}
a:hover,
a:active,
a:focus {
  outline: 0 !important;
}

input,
textarea,
button,
select,
a,
ul,
li,
div {
  -webkit-tap-highlight-color: transparent !important;
}

img {
  max-width: 100%;
  height: auto;
}

fieldset {
  border: 0 none;
  margin: 0;
  padding: 0 0 0 0;
}
